### <span style="color:brown">Notebook Instructions</span>

<i> You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter </b>. While a cell is running, In [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook. Example: In [8]: </i>

<i> Enter edit mode by pressing <b> Enter </b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area. </i>

## Importing data from Investors Exchange (IEX)

To fetch data from IEX, you need to first pip install iexfinace. The 'pip' command is a tool for installing and managing Python packages.

! pip install iexfinance

Using iexfinace to access data from IEX is quite easy. First, you need to import <b>get_historical_data</b> function from iexfinance library. <br>
<br>
This will return the daily time series of the stock's ticker requested over the desired date range. You can select the date range using the <b>datetime</b> function. The output format (data frame creation, if pandas) is selected using the <b>output_format</b> parameter.

The resulting DataFrame is indexed by date, with a column for each OHLCV datapoint as you can see in the below example.

In [8]:
from iexfinance import get_historical_data 
from datetime import datetime

start = datetime(2017, 1, 1) # starting date: year-month-date
end = datetime(2018, 1, 1) # ending date: year-month-date

data = get_historical_data('AAPL', start=start, end=end, output_format='pandas') 
data.head()

                open      high       low     close    volume
date
2017-01-03  113.0684  113.5859  112.0529  113.4101  28781865
2017-01-04  113.1172  113.7617  113.0196  113.2832  21118116
2017-01-05  113.1856  114.1075  113.0782  113.8593  22193587
2017-01-06  114.0253  115.3727  113.7226  115.1286  31751900
2017-01-09  115.1677  116.6128  115.1579  116.1832  33561948

In [9]:
data.tail()

                open      high       low     close    volume
date
2017-12-22  173.3024  174.0405  173.1238  173.6298  16349444
2017-12-26  169.4530  170.1177  168.3408  169.2248  33185536
2017-12-27  168.7585  169.4332  168.3716  169.2546  21498213
2017-12-28  169.6514  170.4947  169.1355  169.7308  16480187
2017-12-29  169.1752  169.2447  167.8855  167.8954  25999922

## Importing data from NSEpy

Similar to IEX, you need to first pip install <b>nsepy</b> module to fetch the data.

! pip install nsepy

To fetch historical data of stocks from nsepy, you have to use <b>get_history</b> function which returns daily data of stock's ticker requested over the desired timeframe in a pandas format. 

<b>Note</b>: Only price data of Indain stocks/indices/derivatives can be fetched from nsepy.

In [10]:
from nsepy import get_history
from datetime import datetime

start = datetime(2017, 1, 1)
end = datetime(2018, 1, 1)

data = get_history(symbol='SBIN',start=start,end=end)

data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2017-01-02,SBIN,EQ,250.20,252.5,253.65,242.6,243.55,243.60,244.80,25988990,6.362168e+14,164268,12078409,0.4648
2017-01-03,SBIN,EQ,243.60,244.0,246.40,241.1,244.90,244.90,244.54,15963085,3.903556e+14,112537,4370526,0.2738
2017-01-04,SBIN,EQ,244.90,245.8,246.40,242.2,243.20,242.90,243.96,11225978,2.738651e+14,91672,3632352,0.3236
2017-01-05,SBIN,EQ,242.90,245.0,245.90,243.7,245.50,245.35,244.94,11970913,2.932209e+14,88254,4511456,0.3769
2017-01-06,SBIN,EQ,245.35,246.0,249.00,245.5,246.05,245.90,247.10,12354302,3.052714e+14,75839,3393716,0.2747

In [11]:
data.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2017-12-26,SBIN,EQ,319.85,318.6,319.95,316.30,317.00,317.15,317.39,9329690,2.961128e+14,63313,4279106,0.4587
2017-12-27,SBIN,EQ,317.15,316.5,320.30,313.05,313.45,314.85,316.25,14276027,4.514749e+14,72884,5567092,0.3900
2017-12-28,SBIN,EQ,314.85,315.3,316.50,307.65,308.30,308.40,310.67,20353152,6.323021e+14,112379,10033866,0.4930
2017-12-29,SBIN,EQ,308.40,310.0,312.00,309.05,310.00,309.90,310.39,11939569,3.705905e+14,98011,5324051,0.4459
2018-01-01,SBIN,EQ,309.90,310.6,312.75,306.30,306.75,307.10,309.08,12182400,3.765315e+14,75769,5697288,0.4677

## Importing data from Quandl

To fetch data from Quandl, first import quandl. Here, <b>quandl.get</b> function is used to fetch data for a security over a specific time period.

In [12]:
import quandl
from datetime import datetime

# quantrautil is a module specific to Quantra to fetch stock data
from quantrautil import get_quantinsti_api_key 

api_key = get_quantinsti_api_key()
data = quandl.get('EOD/AAPL', start_date='2017-1-1', end_date='2018-1-1', api_key=api_key)

# Note that you need to know the "Quandl code" of each dataset you download. In the above example, it is 'EOD/AAPL'.
# To get your personal API key, sign up for a free Quandl account. Then, you can find your API key on Quandl account settings page.

data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2017-01-03,115.80,116.3300,114.76,116.15,28781865.0,0.0,1.0,113.064001,113.581478,112.048573,113.405731,28781865.0
2017-01-04,115.85,116.5100,115.75,116.02,21118116.0,0.0,1.0,113.112819,113.757225,113.015182,113.278803,21118116.0
2017-01-05,115.92,116.8642,115.81,116.61,22193587.0,0.0,1.0,113.181165,114.103057,113.073764,113.854863,22193587.0
2017-01-06,116.78,118.1600,116.47,117.91,31751900.0,0.0,1.0,114.020846,115.368241,113.718171,115.124148,31751900.0
2017-01-09,117.95,119.4300,117.94,118.99,33561948.0,0.0,1.0,115.163203,116.608235,115.153439,116.178631,33561948.0

## Importing data from Yahoo

First you need to import data from <b>pandas_datareader</b> module. Here <b>data.get_data_yahoo</b> function is used to return the historical price of a stock's ticker, over a specifc time range.

In [13]:
## Yahoo recently has become an unstable data source.

## If it gives an error, you may run the cell again, or try again sometime later

import pandas as pd
from pandas_datareader import data 
data = data.get_data_yahoo('AAPL', '2017-01-01', '2018-01-01')
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,113.410263,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,113.283333,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,113.859421,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,115.128761,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,116.183273,33561900

### In the upcoming iPython notebook:

We will learn about <b>Importing Data from our local machine</b>. Till then, get ready to solve some exercises.

## I finally made the Iex downloading works now
Below is my own exercies:

In [ ]:
!pip install iexfinance

In [1]:
# !pip install iexfinance
from iexfinance.stocks import get_historical_data
from datetime import datetime

start = datetime(2017, 1, 1)
end = datetime(2018, 1, 1)
# Type your code below
data = get_historical_data('AAPL', start, end, output_format='pandas')
print(data.head())

                open      high       low     close    volume
date
2017-01-03  111.8019  112.3136  110.7978  112.1398  28781865
2017-01-04  111.8502  112.4874  111.7536  112.0143  21118116
2017-01-05  111.9178  112.8294  111.8116  112.5839  22193587
2017-01-06  112.7481  114.0804  112.4488  113.8391  31751900
2017-01-09  113.8777  115.3066  113.8680  114.8818  33561948

In [2]:
print(data.head())

                open      high       low     close    volume
date
2017-01-03  111.8019  112.3136  110.7978  112.1398  28781865
2017-01-04  111.8502  112.4874  111.7536  112.0143  21118116
2017-01-05  111.9178  112.8294  111.8116  112.5839  22193587
2017-01-06  112.7481  114.0804  112.4488  113.8391  31751900
2017-01-09  113.8777  115.3066  113.8680  114.8818  33561948

In [3]:
get_historical_data?

In [4]:
from iexfinance.stocks import get_historical_intraday
from datetime import datetime
date = datetime(2018, 11, 27)
# get_historical_intraday("AAPL", date)[0]

IndexError: list index out of range

In [5]:
get_historical_intraday("AAPL", output_format='pandas').head()

,average,changeOverTime,close,date,high,label,low,marketAverage,marketChangeOverTime,marketClose,marketHigh,marketLow,marketNotional,marketNumberOfTrades,marketOpen,marketVolume,notional,numberOfTrades,open,volume
2019-05-08 09:30:00,202.926,0.000000,203.05,20190508,203.12,09:30 AM,202.17,202.267,0.000000,202.970,203.19,201.86,1.142145e+08,1232,201.90,564671,391646.700,17,202.170,1930
2019-05-08 09:31:00,203.178,0.001242,203.15,20190508,203.53,09:31 AM,202.85,203.148,0.004356,203.152,203.54,202.83,4.452851e+07,1137,202.98,219193,967939.705,62,202.970,4764
2019-05-08 09:32:00,203.205,0.001375,203.31,20190508,203.38,09:32 AM,202.96,203.177,0.004499,203.270,203.41,202.91,3.146432e+07,791,203.14,154862,295866.370,17,203.165,1456
2019-05-08 09:33:00,202.970,0.000217,202.99,20190508,203.25,09:33 AM,202.73,203.017,0.003708,203.010,203.32,202.70,3.567519e+07,922,203.26,175725,369202.520,23,203.220,1819
2019-05-08 09:34:00,203.022,0.000473,202.83,20190508,203.26,09:34 AM,202.83,203.009,0.003668,202.785,203.30,202.76,3.999255e+07,955,202.97,196999,590795.260,32,202.900,2910

In [6]:
get_historical_intraday("ES", output_format='pandas').head()

,average,changeOverTime,close,date,high,label,low,marketAverage,marketChangeOverTime,marketClose,marketHigh,marketLow,marketNotional,marketNumberOfTrades,marketOpen,marketVolume,notional,numberOfTrades,open,volume
2019-05-08 09:30:00,-1.000,NaN,NaN,20190508,-1.0,09:30 AM,-1.00,71.320,0.000000,71.32,71.40,71.32,1208240.12,3,71.40,16941,0.00,0,NaN,0
2019-05-08 09:31:00,-1.000,NaN,NaN,20190508,-1.0,09:31 AM,-1.00,71.470,0.002103,71.47,71.47,71.47,7147.00,1,71.47,100,0.00,0,NaN,0
2019-05-08 09:32:00,-1.000,NaN,NaN,20190508,-1.0,09:32 AM,-1.00,71.304,-0.000224,71.11,71.33,71.11,152091.56,20,71.33,2133,0.00,0,NaN,0
2019-05-08 09:33:00,71.199,-72.199,71.2,20190508,71.2,09:33 AM,71.19,71.184,-0.001907,71.15,71.22,71.15,83925.80,8,71.20,1179,15165.47,3,71.19,213
2019-05-08 09:34:00,-1.000,NaN,NaN,20190508,-1.0,09:34 AM,-1.00,71.173,-0.002061,71.12,71.20,71.12,49892.14,7,71.20,701,0.00,0,NaN,0

In [7]:
from iexfinance.stocks import Stock
tsla = Stock('TSLA')
tsla.get_price()

244.84

In [8]:
batch = Stock(["TSLA", "AAPL"])
batch.get_price()

{'TSLA': 244.84, 'AAPL': 202.9}

In [9]:
from iexfinance.altdata import get_social_sentiment

In [12]:
get_social_sentiment("AAPL",'minute',date)

C:\Users\t79hikj\AppData\Local\Continuum\anaconda3\lib\site-packages\iexfinance\altdata\__init__.py:47: UserWarning: UNSTABLE ENDPOINT: Not yet fully implemented by the provider.
  warnings.warn("UNSTABLE ENDPOINT: Not yet fully implemented by the "

IEXVersionError: The requested endpoint is only available using IEX Cloud.

In [13]:
get_historical_intraday("tlt", output_format='pandas').head()

,average,changeOverTime,close,date,high,label,low,marketAverage,marketChangeOverTime,marketClose,marketHigh,marketLow,marketNotional,marketNumberOfTrades,marketOpen,marketVolume,notional,numberOfTrades,open,volume
2019-05-08 09:30:00,-1.0,NaN,NaN,20190508,-1.0,09:30 AM,-1.0,125.123,0.000000,125.050,125.16,125.04,7523920.260,99,125.15,60132,0.0,0,NaN,0
2019-05-08 09:31:00,-1.0,NaN,NaN,20190508,-1.0,09:31 AM,-1.0,125.073,-0.000400,125.100,125.10,125.06,1303015.400,58,125.08,10418,0.0,0,NaN,0
2019-05-08 09:32:00,-1.0,NaN,NaN,20190508,-1.0,09:32 AM,-1.0,125.117,-0.000048,125.125,125.14,125.09,1408313.920,61,125.10,11256,0.0,0,NaN,0
2019-05-08 09:33:00,-1.0,NaN,NaN,20190508,-1.0,09:33 AM,-1.0,125.158,0.000280,125.170,125.20,125.12,2298522.303,62,125.13,18365,0.0,0,NaN,0
2019-05-08 09:34:00,-1.0,NaN,NaN,20190508,-1.0,09:34 AM,-1.0,125.095,-0.000224,125.110,125.17,125.06,5692962.980,177,125.17,45509,0.0,0,NaN,0

In [15]:
get_historical_intraday("iei", output_format='pandas').head()

,average,changeOverTime,close,date,high,label,low,marketAverage,marketChangeOverTime,marketClose,marketHigh,marketLow,marketNotional,marketNumberOfTrades,marketOpen,marketVolume,notional,numberOfTrades,open,volume
2019-05-08 09:30:00,-1.0,NaN,NaN,20190508,-1.0,09:30 AM,-1.0,122.933,0.000000,122.948,122.950,122.920,434198.38,8,122.920,3532,0.0,0,NaN,0
2019-05-08 09:31:00,-1.0,NaN,NaN,20190508,-1.0,09:31 AM,-1.0,-1.000,-1.008135,NaN,-1.000,-1.000,0.00,0,NaN,0,0.0,0,NaN,0
2019-05-08 09:32:00,-1.0,NaN,NaN,20190508,-1.0,09:32 AM,-1.0,122.925,-0.000065,122.925,122.925,122.925,13767.60,1,122.925,112,0.0,0,NaN,0
2019-05-08 09:33:00,-1.0,NaN,NaN,20190508,-1.0,09:33 AM,-1.0,122.940,0.000057,122.941,122.941,122.930,168673.27,2,122.930,1372,0.0,0,NaN,0
2019-05-08 09:34:00,-1.0,NaN,NaN,20190508,-1.0,09:34 AM,-1.0,-1.000,-1.008135,NaN,-1.000,-1.000,0.00,0,NaN,0,0.0,0,NaN,0

In [16]:
get_historical_intraday("ief", output_format='pandas').head()

,average,changeOverTime,close,date,high,label,low,marketAverage,marketChangeOverTime,marketClose,marketHigh,marketLow,marketNotional,marketNumberOfTrades,marketOpen,marketVolume,notional,numberOfTrades,open,volume
2019-05-08 09:30:00,106.205,0.000000,106.205,20190508,106.205,09:30 AM,106.205,106.200,0.000000,106.180,106.210,106.170,2.858067e+06,47,106.210,26912,21241.0,2,106.205,200
2019-05-08 09:31:00,106.193,-0.000113,106.185,20190508,106.195,09:31 AM,106.185,106.199,-0.000009,106.190,106.200,106.180,1.166381e+07,32,106.190,109830,424771.0,3,106.195,4000
2019-05-08 09:32:00,-1.000,NaN,NaN,20190508,-1.000,09:32 AM,-1.000,106.191,-0.000085,106.197,106.197,106.190,1.020494e+05,6,106.190,961,0.0,0,NaN,0
2019-05-08 09:33:00,106.205,0.000000,106.205,20190508,106.205,09:33 AM,106.205,106.213,0.000122,106.215,106.230,106.195,8.709480e+05,40,106.195,8200,53102.5,4,106.205,500
2019-05-08 09:34:00,-1.000,NaN,NaN,20190508,-1.000,09:34 AM,-1.000,106.196,-0.000038,106.190,106.210,106.180,9.239069e+05,18,106.210,8700,0.0,0,NaN,0